<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Testexml</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>uploadArq</display-name>
    <servlet-name>uploadArq</servlet-name>
    <servlet-class>Servlet.uploadArq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadArq</servlet-name>
    <url-pattern>/uploadArq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insereBD</display-name>
    <servlet-name>insereBD</servlet-name>
    <servlet-class>Servlet.insereBD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insereBD</servlet-name>
    <url-pattern>/insereBD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>trocaItem</display-name>
    <servlet-name>trocaItem</servlet-name>
    <servlet-class>Servlet.trocaItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trocaItem</servlet-name>
    <url-pattern>/trocaItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insereJsp</display-name>
    <servlet-name>insereJsp</servlet-name>
    <servlet-class>Servlet.insereJsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insereJsp</servlet-name>
    <url-pattern>/insereJsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>trocaJsp</display-name>
    <servlet-name>trocaJsp</servlet-name>
    <servlet-class>Servlet.trocaJsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trocaJsp</servlet-name>
    <url-pattern>/trocaJsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>relatorioJsp</display-name>
    <servlet-name>relatorioJsp</servlet-name>
    <servlet-class>Servlet.relatorioJsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>relatorioJsp</servlet-name>
    <url-pattern>/relatorioJsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>inicialJsp</display-name>
    <servlet-name>inicialJsp</servlet-name>
    <servlet-class>Servlet.inicialJsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inicialJsp</servlet-name>
    <url-pattern>/inicialJsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insereTroca</display-name>
    <servlet-name>insereTroca</servlet-name>
    <servlet-class>Servlet.insereTroca</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insereTroca</servlet-name>
    <url-pattern>/insereTroca</url-pattern>
  </servlet-mapping>
</web-app>